<% @practice.tips.top_tip.each do |c| %>
    <div class="tip">
      <p>
      <span class="tip-name"><%= c.user.name.capitalize %> shared:</span><br><br> 
      <span class="tip-content"><%= c.content %></span><br><br>
        <span class="tip-likes" id="tip-<%= c.id %>-likes"><%= c.likes %></span>
        <%= link_to "like", "#", data: {"id"=> c.id, "likes"=> c.likes, "practice" => c.practice_id}, class: "tip-links like-button", id:"like-button-#{c.id}" %>
        <%= link_to "unlike", "#", data: {"id"=> c.id, "likes"=> c.likes, "practice" => c.practice_id}, class: "tip-links unlike-button", id:"unlike-button-#{c.id}" %>
        <%= link_to "edit", edit_practice_tip_path(@practice, c), :"data-tipId" => c.id, class: "tip-links" if c.user == @current_user %>
        <%= link_to "delete", c, method: :delete, class: "tip-links" if c.user == @current_user %>
      </p>
    </div>
  <% end %>

