<center>
<div id="header-image">
 <section class="header-box">more of ...<br> <%= @practice.name %>, <br> because i want to better <%= @practice.category %>
 </section>

</div>

<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br>

<div class = "container">
  <section class="practice-info">
    <%= render 'content' %>
    <div class = 'help'>
        <%= link_to "add to my week", new_practice_plan_path(@practice), class:"leave-comment"%><p>
        <% if @practice.creator == @current_user%>
          <p>
          <%= link_to "update this practice", edit_practice_path(@practice), class:"leave-comment"%>
          <p>
          <%= link_to "delete this practice", @practice, method: :delete , class:"leave-comment"%>
        <% end %>
    </div>
  </section>

  <section class="tips">
  <h3>[thoughts, tips & suggestions]</h3>

    <% @practice.tips.top_tip.each do |c| %>
      <div class="tip">
        <p>
          <%= c.user.name.capitalize %> shared:<br><br>
          <%= c.content %><br><br>
          <%= c.likes %>
          <%= link_to "like", like_tip_path(c), class: "tip-links", method: :post %>

          <%= link_to "edit", edit_practice_tip_path(@practice, c), class: "tip-links" if c.user == @current_user %>
          <%= link_to "delete", c, method: :delete, class: "tip-links" if c.user == @current_user %>
        </p>
      </div>
    <% end %>
    <br> 
    <div class="help">
      <%= link_to "contribute your tip", new_practice_tip_path(@practice), class:"leave-comment" %>
    </div>
  </section>
</div>
