<center>
<div id="header-image" >
<section id='practice-name' class="header-box">more of ... <%= @practice.name %>,</section>
<section id='practice-category' class="header-box">because i want to better <%= @practice.category %>.</section>
</div>

<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br>
<div id="user" data-user_id="<%=@current_user.id%>" data-creator_id="<%=@practice.creator_id%>"/>

<!-- Content -->
<div class = "wrapper ">
  <section class="practice-info">
    <%= render 'content' %>
    <div class="action-buttons">
    <%= link_to "add to my week", new_practice_plan_path(@practice), id:'add' %><br>
    <%= link_to "update this practice", edit_practice_path(@practice), id:'update'%><br>
    <div id="conditional-buttons">
      <%= link_to "delete this practice", @practice, method: :delete, id:'delete' %>
    </div>

    </div>
  </section>

  <!-- Thoughts / Tips -->
  <section class="tips">
  <br><br>
  <!-- next/previous buttons -->
  <section class="next-previous">
    <%= link_to "previous practice", "#", :"data-practiceId" => @practice.id, id: "previous-button", class:"button"%>
    <%= link_to "next practice", "#", data:{"practiceId" => @practice.id, "last-practice" => @last.id }, id: "next-button", class:"button"%>
  <section>
  <br><br>

  <section>
      <p><h3>[thoughts, tips & suggestions]</h3></p>
      <div class="tip-div">
          <%= render 'tips' %>
      </div><br>

      <!-- button to show tips form -->
      <%= link_to "leave a suggestion", "#", class:"button show-form" %>
      <div id="tip-form">
        <form>
          <%= link_to "Post tip", "#", class:"button submit-tip", :'data-practice_id' => @practice.id, :'data-user_id' => @current_user.id  %>
          <br><br>

          <textarea class="tip-textarea" placeholder="write your message here"></textarea>
        </form>
      </div>
    </section>




