  <div class="tip">
    <p>
      you shared:<br><br>

      <span class="tip-content">{{tip.content}}</span><br><br>
      <span class="tip-likes" id="tip-{{tip.id}}-likes">{{tip.likes}}</span>

      <a data-id="{{tip.id}}" data-likes="{{tip.likes}}" data-practice="{{tip.practice_id}}" class="tip-links like-button" id="like-button-{{tip.id}}" href="#">like</a>

      <a data-id="{{tip.id}}" data-likes="{{tip.likes}}" data-practice="{{tip.practice_id}}" class="tip-links unlike-button" id="unlike-button-{{tip.id}}" href="#">unlike</a>
  
    </p>
  </div><br>
